# https://github.com/nicklockwood/SwiftFormat
# https://github.com/nicklockwood/SwiftFormat/blob/master/Rules.md

--swiftversion 5.0

# file options

--exclude Tests/XCTestManifests.swift,Tests/BadConfig,Snapshots,Build,PluginTests

# format options

--allman false
--assetliterals visual-width
--beforemarks 
--binarygrouping 4,8
--categorymark "MARK: %c"
--classthreshold 0
--closingparen balanced
--commas inline
--conflictmarkers reject
--decimalgrouping 3,6
--elseposition same-line
--emptybraces no-space
--enumthreshold 0
--exponentcase lowercase
--exponentgrouping disabled
--extensionacl on-extension
--extensionlength 0
--extensionmark "MARK: - %t + %c"
--fractiongrouping enabled
--fragment false
--funcattributes same-line
--groupedextension "MARK: - %c"
--guardelse same-line
--header strip
--hexgrouping 4,8
--hexliteralcase uppercase
--ifdef indent
--importgrouping testable-last
--indent tab
--indentcase true
--lifecycle 
--linebreaks lf
--markextensions always
--marktypes always
--maxwidth none
--modifierorder 
--nevertrailing 
--nospaceoperators 
--nowrapoperators 
--octalgrouping 4,8
--operatorfunc spaced
--organizetypes actor,class,enum,struct
--patternlet hoist
--ranges spaced
--redundanttype inferred
--self remove
--selfrequired 
--semicolons inline
--shortoptionals always
--smarttabs enabled
--stripunusedargs closure-only
--structthreshold 0
--tabwidth 4
--trailingclosures 
--trimwhitespace always
--typeattributes same-line
--typemark "MARK: - %t"
--varattributes same-line
--voidtype void
--wraparguments preserve
--wrapcollections after-first
--wrapconditions after-first
--wrapparameters preserve
--wrapreturntype preserve
--xcodeindentation disabled
--yodaswap always
--disable blankLinesAtStartOfScope,wrapMultilineStatementBraces
--enable isEmpty,markTypes,organizeDeclarations,sortedSwitchCases